* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    align-items: center;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 15px 0px rgb(216, 209, 209);
    padding: 0 1.3rem;
    height: 4.4rem;
    justify-content: space-around;
  }
  
  .menu-btn {
    display: none;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .logo {
    width: 90px;
  }
  
  nav {
    position: relative;
    height: 100%;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.9rem;
    color: #1c1d1f;
    display: flex;
    z-index: 5;
  }
  
  .category {
    border: none;
    font-size: 0.88rem;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0 0.3rem 0;
  }
  
  .category-content {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 65px;
    min-width: 15rem;
    min-height: 45rem;
    box-shadow: 0px 1px 20px 0px rgba(10, 13, 16, 0.2);
  }
  
  .category-content a {
    padding: 12px 16px;
    display: block;
  }
  
  nav:hover .category-content {
    transition-delay: 2s;
    display: block;
  }
  
  .udemy-search {
    border: 1px solid black;
    border-radius: 25px;
    height: 68%;
    display: flex;
    align-items: center;
    width: calc(80% - 430px);
  }
  
  .search-text {
    border: 0;
    background-color: transparent;
    flex: 1;
    height: 100%;
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  .search-text:focus {
    outline: none;
  }
  
  .search-icon {
    background-color: transparent;
    border: 0;
    padding: 0 1rem;
    cursor: pointer;
  }
  
  a {
    text-decoration: none !important;
    color: black;
  }
  
  a:hover {
    color: #5624d0;
  }
  
  .business-link {
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.9rem;
    text-align: center;
  }
  .body {
    display: flex;
  }
  .teach-link {
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .fa-solid {
    font-size: 1.2rem;
  }
  
  .log-in {
    border: 1px solid black;
    height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
    justify-content: center;
  }
  .btn:hover {
    background-color: #f1f1f1;
    color: #1c1d1f;
  }
  
  .sign-up:hover {
    color: #f1f1f1;
    background-color: black;
  }
  
  .sign-up {
    border: 1px solid #1c1d1f;
    background-color: #1c1d1f;
    color: white;
    height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
    justify-content: center;
  }
  .lang {
    border: 1px solid black;
    background-color: transparent;
    padding: 0 1rem;
    height: 2.5rem;
    cursor: pointer;
    align-items: center;
  }
  
  main {
    width: 1380px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .headline {
    position: relative;
    width: 100%;
  }
  
  .headline-courses {
    margin: 2rem 0;
    padding-left: 1rem;
    max-width: 4rem 0;
  }
  
  .clock-img {
    width: 100%;
    height: 100%;
  }
  
  .headline-text {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 2.4rem;
    box-shadow: 0px 1px 15px 0px rgb(216, 209, 209);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  .headline {
    padding: 1rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
  }
  
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1rem;
    color: rgb(60, 58, 58);
    padding-left: 1.4rem;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .slider-left {
    color: gray;
    font-size: 40px;
    margin-right: auto;
  }
  .slider-right {
    color: gray;
    font-size: 40px;
    margin-left: auto;
  }
  
  .arrow {
    width: 50px;
  }
  .udemy-python {
    padding: 2rem 0;
  }
  
  .explore-python {
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    height: 3rem;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    padding: 0 1rem;
    font-weight: 650;
    margin-bottom: 2rem;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .description {
    margin-left: 1rem;
  }
  
  .title {
    max-width: 15rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .rate {
    font-size: 0.8rem;
  }
  .Best-views {
    padding-left: 2rem;
  }
  .best-seller {
    background-color: #eceb98;
    color: #3d3c0a;
    display: inline-block;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
  }
  
  .Author {
    font-size: 0.8rem;
  }
  
  .course-img {
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .course {
    width: 2px;
    margin: 0 0.3rem;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
  }
  .tab:focus {
    outline: none;
  }
  .tab:hover {
    color: black;
  }
  
  .checked {
    color: orange;
  }
  
  .udemy-extras-container {
    background: #f7f9fa;
    margin-top: 4rem;
  }
  
  .udemy-extras {
    display: flex;
    justify-content: space-around;
  }
  
  .udemy-content {
    display: flex;
    padding: 2rem 2rem;
    max-width: 25rem;
  }
  .udemy-text {
    margin-left: 1rem;
    font-weight: 700;
  }
  
  .Bviews {
    margin: 2rem;
  }
  
 
.p {
    font-size: 15.9px;
    margin-bottom: 23px;
    line-height: 21px;
    
}



  input { display: none; }
input + label { display: inline-block }

input ~ .tab { display: none }
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5,
#tab6:checked ~ .tab.content6, 
#tab7:checked ~ .tab.content7  { display: block; }

input + label {

  background: #EEE;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
}
input:checked + label {
  background: #FFF;
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  border-top: 1px solid #999;
  padding: 12px;
}

.tab {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #d1d7dc;
    font-weight: normal;
  }

  .card-intro h4 {
    font-size: 24px;
    margin: 0 0 8px;

}

.card-intro p {
    font-size: 15.9px;
    width: 790px;
    margin-bottom: 23px;
    line-height: 21px;
}

  .row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))
 
  }.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}
  .col{flex:1 0 0%}
  
  .row-cols-auto>*{
    flex:0 0 auto;
    width:auto
}
  .row-cols-1>*{
    flex:0 0 auto;
    width:100%
}

.container{
    width: 100vw;
    
}
.icons{
    display: flex;
    background-color: #f7f9fa;
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
    height: 150px;
    align-items: center;
}

.icons i{
  background: #d1d7dc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: small;
  justify-content: center;
}


.icons .col{
display: flex;
}
.icons p{
    font-weight: 50;
    font-size: 0.7rem;
    padding: 10px;
}
  @media only screen and (min-width: 821px) {
    .headline-text {
      position: absolute;
      top: 3rem;
      left: 3rem;
    }
  }


  /* CARDS */
 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card-courses {
    min-height: 55vh;
    max-height: 50vh;
}

#data-image {
    border: 1px solid rgba(0, 0, 0, 0.155);
}

.course-section-bottom .cards {
    grid-column-gap: 15px;
}

.course-section-bottom .cards h4 {
    font-size: 15.5px;
}

.course-section-bottom .cards img {
    width: 235px;
}

.course-instructor,
.people,
del {
    color: rgba(0, 0, 0, 0.595);
}

.responsive {
    width: 90%;
    height: auto;
  }

.course-instructor {
    font-size: 12px;
}

.people {
    font-size: 13.5px;
}

del {
    font-size: 14.3px;
}

aside {
    background: rgba(203, 211, 58, 0.537);
    color: rgb(105, 59, 33);
    width: 70px;
    padding: 4px 4px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.rated-amount {
    font-size: 14px;
    font-weight: bolder;
    color: rgba(193, 109, 14, 0.954)
}

.checked,
.half-checked,
.fa-star-o {
    color: rgba(244, 182, 28, 0.966);
    font-size: 12px;
}

.card-content h4,
.card-content p,
.rating,
.price {
    margin-top: 2px;
} 

.topics-section {
    background-color: #b7bed417;
    min-height: 35vh;
    margin-top: 30px;
    padding: 10px;
}

.topics-categories {
    display: flex;
    flex-direction: space-between;
    gap: 200px;
}

.topics-section .topics-content {
    margin: 3.5em 0 0 1em;

}

.topics-content h4 {
    font-size: 20px;
}

.topics-content h5 {
    font-size: 15px;
}

.topics-content ul {
    list-style: none;
}

.topics-section ul li a {
    font-size: 10px;
    font-weight: 200;
    color: blue;
}

.topics-content p {
    font-size: 10px;
    color: #6a6f73;
}

.explore-cta {
    width: 155.41px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13.2px;
    padding: 0 12px;

}

.topics-content h5,
.topics-section ul li,
.topics-content .explore-cta {
    margin-top: 1.2em;
}

.topics-content p {
    margin-top: 10px;
}


  
  @media only screen and (max-width: 1380px) {
    main {
      width: 100vw;
    }
    .headline {
      height: 32vw;
    }
    .udemy-search {
      width: calc(80% - 420px);
    }
  }
  

  